<div class="column mx-auto px-5">
    <h4 class="font-weight-bold text-center p-3">Products </h4>
    <!-- filter section -->
    <div class="d-flex mb-3">
        <span class=" view-txt ml-2 my-auto">Filter:</span>
        <!-- price -->
            <nb-select outline="false" [(selected)]="selectedItem" size="small" placeholder="Price ranges" class="size-small my-auto w-100 px-3 ">
                <nb-select-label>
                    Price range: {{ selectedItem }}
                </nb-select-label>
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
            </nb-select>
        <!-- colour -->
            <nb-select outline="false" [(selected)]="selectedItem" size="small" multiple placeholder="Color" class="size-small my-auto w-100 px-3 ">
                <nb-select-label>
                    Color: {{ selectedItem }}
                </nb-select-label>
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
            </nb-select>
        <!-- style -->
            <nb-select outline="false" [(selected)]="selectedItem" size="small" multiple placeholder="Styles" class="size-small my-auto w-100 px-3 ">
                <nb-select-label>
                    Styles: {{ selectedItem }}
                </nb-select-label>
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
            </nb-select>
        <!-- discount -->
        <nb-select outline="false" [(selected)]="selectedItem" size="small" multiple placeholder="Discount" class="size-small my-auto w-100 px-3 ">
            <nb-select-label>
                Discount: {{ selectedItem }}
            </nb-select-label>
            <nb-option value="1">Option 1</nb-option>
            <nb-option value="2">Option 2</nb-option>
            <nb-option value="3">Option 3</nb-option>
            <nb-option value="4">Option 4</nb-option>
        </nb-select>
        <!-- sort -->
        <div class="ml-auto">
            <nb-select placeholder="Sort by" outline="false" size="small" class="size-small my-auto w-100 px-3 " [(selected)]="selectedItem">
                <nb-select-label>
                    Sort by: {{ selectedItem }}
                </nb-select-label>
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
            </nb-select>
        </div>
    </div>
    <!-- view section -->
    <div fxLayout class=" mb-3">
        <!-- paging -->
        <span class="ml-2 text-gray view-txt">Showing 1-8 of 51 results</span>
        <!-- view -->
        <div class="row ml-auto my-auto mr-4">
            <span class="view-txt">View:</span>
            <div class="ml-2 row">
                <img class="img-fluid mr-3" src="../../../assets/images/grid.png" />
                <img class="img-fluid" src="../../../assets/images/list.png" />
            </div>
        </div>
    </div>
    <!-- products -->
    <div fxLayoutAlign="center" fxLayout="row wrap" fxLayoutGap="12px" class="">
        <ng-template ngFor let-item [ngForOf]="products">
            <app-product (productOnclick)="productOnclick($event)" class="mt-3" fxFlex="23" [product]="item"></app-product>
        </ng-template>
    </div>

</div>