<div class="column mx-auto px-5">
    <h4 class="font-weight-bold text-center p-3">Products </h4>
    <!-- filter section -->
    <div class="d-flex mb-3">
        <span class=" view-txt ml-2 my-auto">Filter:</span>
        <!-- price -->
            <nb-select outline="false" [(selected)]="selectedItem" size="small" placeholder="Price ranges" class="size-small my-auto w-100 px-3 ">
                <nb-select-label>
                    Price range: {{ selectedItem }}
                </nb-select-label>
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
            </nb-select>
        <!-- colour -->
            <nb-select outline="false" [(selected)]="selectedItem" size="small" multiple placeholder="Color" class="size-small my-auto w-100 px-3 ">
                <nb-select-label>
                    Color: {{ selectedItem }}
                </nb-select-label>
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
            </nb-select>
        <!-- style -->
            <nb-select outline="false" [(selected)]="selectedItem" size="small" multiple placeholder="Styles" class="size-small my-auto w-100 px-3 ">
                <nb-select-label>
                    Styles: {{ selectedItem }}
                </nb-select-label>
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
            </nb-select>
        <!-- discount -->
        <nb-select outline="false" [(selected)]="selectedItem" size="small" multiple placeholder="Discount" class="size-small my-auto w-100 px-3 ">
            <nb-select-label>
                Discount: {{ selectedItem }}
            </nb-select-label>
            <nb-option value="1">Option 1</nb-option>
            <nb-option value="2">Option 2</nb-option>
            <nb-option value="3">Option 3</nb-option>
            <nb-option value="4">Option 4</nb-option>
        </nb-select>
        <!-- sort -->
        <div class="ml-auto">
            <nb-select placeholder="Sort by" outline="false" size="small" class="size-small my-auto w-100 px-3 " [(selected)]="selectedItem">
                <nb-select-label>
                    Sort by: {{ selectedItem }}
                </nb-select-label>
                <nb-option value="1">Option 1</nb-option>
                <nb-option value="2">Option 2</nb-option>
                <nb-option value="3">Option 3</nb-option>
                <nb-option value="4">Option 4</nb-option>
            </nb-select>
        </div>
    </div>
    <!-- view section -->
    <div class="row mb-3">
        <!-- paging -->
        <span class="ml-2 text-gray view-txt">Showing 1-8 of 51 results</span>
        <!-- view -->
        <div class="row ml-auto my-auto mr-4">
            <span class="view-txt">View:</span>
            <div class="ml-2 row">
                <img class="img-fluid mr-3" src="../../../assets/images/grid.png" />
                <img class="img-fluid" src="../../../assets/images/list.png" />
            </div>
        </div>
    </div>
    <!-- products -->
    <div class="row space-grid">
        <ng-template ngFor let-item [ngForOf]="products">
            <div class="col-3">
                <div (click)="showProductDetails()" class="card prod-card" [class.list-item-highlight]="item.isHighlight"
                    (mouseout)="item.isHighlight=false" (mouseover)="item.isHighlight=true">
                    <!-- top -->
                    <div class="top-card">
                        <div style="position: absolute; width: inherit;"
                            [style.visibility]="item.isHighlight?'visible':'hidden'" class="row d-flex">
                            <img class="img-fluid icon-image mr-auto" src="../../../assets/images/heart.png" />
                            <div class="d-flex-col">
                                <img class="img-fluid icon-image" src="../../../assets/images/cart.png" />
                                <ng-template ngFor let-items [ngForOf]="item?.features" let-i="index">
                                    <span [style.background]="items.colorCode" class="ellipse rounded-circle"></span>
                                </ng-template>
                            </div>
                        </div>
                        <img class="my-auto img-fluid row" [src]="item.images[0].url" />
                        <!-- <button nbButton [style.visibility]="item.isHighlight?'visible':'hidden'"
                            class="my-3 mx-auto small d-block p-2 text-black bg-danger">View Details</button> -->
                    </div>
                    <!-- bottom -->
                    <div class="bottom-card">
                        <h4 [class.text-highlight]="item.isHighlight" class="name-lbl">{{item.name}}</h4>
                        <p [class.text-highlight]="item.isHighlight" class="px-3 small text-center code-lbl">Code -
                            {{item.code}}</p>
                        <p [class.text-highlight]="item.isHighlight" class="small text-center px-3  code-lbl">
                            {{item.price}}</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>

</div>