<!-- <nb-layout class="mt-5"> -->

<!-- <nb-layout-header subheader>
        <div class="w-25 mx-auto border row justify-content-end">
            <nb-search type="rotate-layout"></nb-search>
        </div>
    </nb-layout-header> -->

<!-- <nb-sidebar class="mt-5 bg-shop">
        <div>
            sidebar
        </div>
    </nb-sidebar> -->

<!-- <nb-layout-column class="bg-shop"> -->
    <div class="column mx-auto">
        <h4 class="font-weight-bold text-center p-3">Featured Products </h4>
        <div class="row space-grid">
            <ng-template ngFor let-item [ngForOf]="products ">
                <div class="col-3">
                    <div class="card py-3" [class.list-item-highlight]="item.isHighlight"
                        (mouseout)="item.isHighlight=false" (mouseover)="item.isHighlight=true">
                        <!-- top -->
                        <div class="">
                            <div
                                [style.visibility]="item.isHighlight?'visible':'hidden'" class="row ml-3">
                                <img class="img-fluid icon-image" src="../../../assets/images/cart-item.png" />
                                <img class="img-fluid icon-image" src="../../../assets/images/fav-blue.png" />
                                <img class="img-fluid icon-image" src="../../../assets/images/search-blue.png" />
                            </div>
                            <img class="img-fluid row mx-auto my-auto" [src]="item.images[0].url" />
                        </div>
                    </div>
                    <!-- bottom -->
                    <div class="column">
                        <h4 class="text-center  font-weight-light px-3 py-2 name-lbl">{{item.name}}</h4>
                        <p class="px-3 small text-center code-lbl">Code -
                            {{item.code}}</p>
                        <p class="small text-center px-3  code-lbl">
                            {{item.price}}</p>
                    </div>
                </div>
            </ng-template>
        </div>

    </div>
<!-- </nb-layout-column> -->
<!-- </nb-layout> -->