<!-- <nb-layout> -->
    <div fxLayout="column" class="bg-color h-screen">
        <div fxFlex="500px" fxLayout  class="topPix  py-2 mb-5">
            <div fxLayout class="topBg">
                <div fxLayout="column" class=" col-7 p-5">
                    <h2 class="top-text">DISCOVER & SHOP THE TREND</h2>
                    <p>Chakra partners with various financial institutions to provide the various solutions to her
                        customers.</p>
                    <button class="font-weight-normal px-5 py-3 text-white bg-btn">SHOP NOW</button>
                </div>
                <img class="img-fluid col-5 bg-frame" src="../../../assets/images/frame.png" />
            </div>
        </div>
        <!-- <div fxFlex="grow" fxLayout="column">
            <div class="text-ft">Featured Products </div>
            <div fxLayoutAlign="center" fxLayout="row wrap" fxLayoutGap="12px">
                <ng-template ngFor let-item [ngForOf]="products">
                    <app-product class="mt-3" fxFlex="23" [product]="products"></app-product>
                </ng-template>
            </div>

        </div> -->
        <div  fxLayout class="  w-75 mt-5 mx-auto">
            <slideshow  [showArrows]=false [disableSwiping]="true" [autoPlay]=true [showDots]=true
                (onIndexChanged)="slide($event)" class="col-5 p-4" [imageUrls]="products"></slideshow>
            <div fxLayout="column" class="col-6 ">
                <h5 class="w-100 font-weight-bolder">Unique Features Of latest & Trending Products</h5>
                <ng-template ngFor let-item [ngForOf]="selectedProduct?.features">
                    <div class="row  mb-3">
                        <span [style.background]="item.colorCode" class="my-auto rounded-circle w-10-h-10 mr-3"></span>
                        <span class="text-black col ">{{item.description}}</span>
                    </div>
                </ng-template>
                    <p class="text-black m-0">{{selectedProduct?.name}}</p>
                <div fxLayout fxLayoutGap="10px" class="mt-2">
             
<button fxFlex="none" pButton routerLink="/home" pRipple type="button" label="ADD TO CART"
    class="p-button-rounded p-button-warning p-button-sm p-3 h-2rem text-white bg-orange btn-addtocart">
</button>                 
        <div fxFlex="10" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <div class="price-text">N{{selectedProduct.price}}</div>
            <div class="fw-400 text-grey">N<del>{{selectedProduct.specialPrice}}</del></div>
        </div>
                </div>
            </div>
        </div>
    </div>
<!-- </nb-layout> -->