<div fxLayout="column" class="h-screen" >
    <!-- topmost bar  -->
    <div fxFlex="15" fxLayout="column" class="">
       <div  class="bg-orange" fxLayout fxFlex="20" fxLayoutAlign="center center">
          <div fxFlex  class="text-black  mx-auto my-auto text-center">Free Shipping, 30 days return or refund gurantee</div>
          <div fxFlex="nogrow" fxLayoutGap="10px" fxLayout fxFlexAlign="center" >
            <a routerLink="/sign-in" class="mr-3 text-sm border-0 bg-transparent text-black mt-1 small-text no-underline">SIGN IN</a>
            <a routerLink="/home" class="mr-3 text-sm border-0 bg-transparent text-black mt-1 small-text no-underline">FAQS</a>
            <select placeholder="NGN" class="text-sm border-none bg-orange text-black small-text pr-5">
              <option value="1">NGN</option>
              <option value="2">USD</option>
            </select>
          </div>
       </div>

<!-- Logo and menu -->
    <div fxLayout fxFlex="50" class="bg-color">
            <img src="../../../assets/images/isysew_logo.png" class="img-fluid topNavMenu ml-2 col-2 p-0" />
            <div class="topnav col-8 my-auto" fxLaout fxLayoutAlign="center center">
              <a [routerLinkActive]="'active'" routerLink="/home">Home</a>
              <a [routerLinkActive]="'active'" routerLink="/shop">Shop</a>
              <a [routerLinkActive]="'active'" routerLink="/blog">Blog</a>
              <a [routerLinkActive]="'active'" routerLink="/wishlist">Contact</a>
              <a [routerLinkActive]="'active'" routerLink="/training">Training</a>
            </div>
            <div  class="col-2" fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
              <img src="../../../assets/images/search.png" class="img-fluid " />
              <img src="../../../assets/images/heart.png" class="img-fluid" />
              <img src="../../../assets/images/cart.png" class="img-fluid " />
            </div>
    </div>

    <hr class="m-0" />
    <!-- breadcrumb -->
    <div fxFlex="25" class="bg-orange pt-0 pl-5 pr-5" fxLayout fxLayoutAlign="start center">
          <a routerLink="" class="mr-3 text-sm border-0 bg-transparent text-black small-text no-underline">breadcrumb</a> 
    </div>
   </div>
   

<!-- body -->
  <div fxLayout="column" fxFlex="100"  class="bg-color relative overflow-auto surface-overlay ">
    <!-- mainbody -->
    <div #body fxFill class="">
        <router-outlet></router-outlet>
    </div>

     <!-- footer -->
    <!-- <footer  fxFlex="30" class="bottom-0 w-full relative" fxLayout="column" style='background: #F1F1F1;top:85%'>
      <div fxFlex="grow"  fxLayout="column" fxFlexAlign="center"  class="w-8">
       
        <div fxFlex="50" fxLayoutAlign="center" fxLayoutGap="10px" fxLayout class="border-round-xl mt-3 p-4 py-auto bottom-card ">
          <h3 fxFlex="grow" fxFlexAlign="center" class="text-white">Get In touch with us</h3>
          <input fxFlex="auto" type="text" pInputText class="p-3">
          <button fxFlex="none"  pButton routerLink="/home" pRipple type="button" label="Subscribe"  class="p-button-rounded p-button-warning p-button-sm p-3">
          </button>
        </div>

        <div fxFlex="25" fxLayout="row">
          <div fxFlex="30">
                <img  class="image-contain h-full my-auto" src="../../../assets/images/isysew_logo.png" />
          </div>
          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" fxFlex="grow" >
            <a routerLink="/home" class="text-decoration-none text-black">About us</a>
            <a routerLink="/home" class="text-black text-decoration-none">Contact</a>
          </div>
          <div fxFlex="30" fxLayout fxLayoutGap="10px" fxLayoutAlign="end center" class="mr-1">
            <button pButton pRipple type="button" class="p-button-rounded"  class="border-none p-button-danger p-button-sm p-1">
              <img  src="../../../assets/images/web-i con.png" />
            </button>
            <button pButton pRipple type="button" class="p-button-rounded" class="border-none bg-white p-button-sm p-1">
              <img  src="../../../assets/images/fb.png" />
            </button>
            <button pButton pRipple type="button" class="p-button-rounded" class="border-none p-button-sm p-1 bg-white">
              <img  src="../../../assets/images/instagram.png" />
            </button>
          </div>
        </div>
        <hr class="m-0">
         <div fxFlex="15" class="text-black-alpha-50 text-center text-sm mx-auto my-auto">
          Copyright &copy; 2021 scholarship. All Rights reserved
        </div>
      </div>
    </footer> -->

  </div>
  
</div>