@import "../../../themes.scss";

@include nb-install-component() {
  .topMenu {
    background-image: url("../../../assets/images/isysew_logo.png");
    background-size: 200px;
    background-position: right 0px bottom -10px;
    background-repeat: no-repeat;
  }
  ::ng-deep nb-layout-header nav {
    padding: 0px !important;
    // height: 0px;
  }
  ::ng-deep nb-select nb-layout-header nav {
    height: auto !important;
  }
  ::ng-deep nb-select .select-button {
    min-width: auto;
  }
  // ::ng-deep nb-select.appearance-outline .select-button {
  //   border-style: none;
  //   border-width: 0px;
  //   background-color: #f1f1f1;
  //   color: black;
  // }

  /* Add a black background color to the top navigation */
  .topnav {
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.body-section{
  max-height: 100vh!important;
  padding-bottom: 20px;
}
  /* Change the color of links on hover */
  .topnav a:hover {
    // background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    text-decoration: underline solid #c21a1a 1px;
    color: black;
  }

  ::ng-deep nb-layout .layout {
    background: white;
  }
  ::ng-deep nb-layout.window-mode .scrollable-container {
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }
  .bottom-card {
    background-image: url("../../../assets/images/footer_img.png");
    // background-position-x: right;
    // background-position-x: bottom;
    background-size: cover;
    // background-position: right 0px bottom -10px;
    background-repeat: no-repeat;
    padding: 2rem !important;
  }
  .w35-h35 {
    width: 35px !important;
    height: 35px !important;
  }
  
  .pad-0 {
    padding: none !important;
  }
  .topNavMenu {
    height: 80px;
    object-fit: scale-down;
  }
}
