/* You can add global styles to this file, and also import other style files */
// @import 'themes';

// @import '~@nebular/theme/styles/globals';

// @include nb-install() {
//   @include nb-theme-global();
// };
.card{
background: #FFFFFF;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}
.w-15{
  width: 15%!important;
}
.w-20{
  width: 20%!important;
}
.w-30{
  width: 30%!important;
}
.w-35{
  width: 35%!important;
}
.w-40{
  width: 40%!important;
}
.w-60{
  width: 60%!important;
}
.w-70{
  width: 70%!important;
}
.w-75{
  width: 75%!important;
}
.w-80{
  width: 80%!important;
}
.w-90{
  width: 90%!important;
}
.h-20{
  height: 20%!important;
}
.h-30{
  height: 30%!important;
}
.h-40{
  height: 40%!important;
}
.h-55{
  height: 55%!important;
}
.h-60{
  height: 60%!important;
}
.h-70{
  height: 70%!important;
}
.h-80{
  height: 80%!important;
}
.h-10{
 height: 10%!important;
}
.h-90{
  height: 90%!important;
}
.h-95{
  height: 95%!important;
}.h-98{
  height: 98%!important;
}
.px-100{
  padding-left: 100px!important;
  padding-right: 100px!important;
}
.p-20{
  padding: 20px;
}
.p-10{
  padding: 10px;
}
.p-50{
  padding: 50px!important;
}
.w20-h20{
 width: 20px !important;
 height: 20px!important;
}
.icon-image {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  background: #ffffff;
  padding: 7px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}
.y-scroll{
  overflow-y: scroll;
}
.x-scroll{
  overflow-x: scroll;
}
.scroll{
  overflow: scroll;
}
.m-10{
  margin: 10px;
}
.bg-color {
  background-color: #fff8dd !important;
}
.bg-orange {
  background-color: #F38B50 !important;
}
.br-0{
  border-radius: 0px;
}
.y-scroll-none{
  overflow-y: hidden;
}
.x-scroll-none{
  overflow-x: hidden;
}
.mt-0{
  margin-top: 0px;
}
.pt-0{
 padding-top: 0px;
}